flows/GFS_Case_Routing_Record_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>1022</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>CaseReference.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_and_SLAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>876</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>CaseReference.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_and_SLAs</name>
        <label>Set Status and SLAs</label>
        <locationX>958</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>CaseReference.IsStopped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReference.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GFSCaseMetaObject.Reset_To_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReference.GFS_SLA_AwaitingApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GFSCaseMetaObject.In_Approval_Chain_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReference.GFS_SLA_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GFSCaseMetaObject.Closed_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReference.GFS_SLA_InProgress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GFSCaseMetaObject.Initial_Response_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_three_Case_Definitions_defined</name>
        <label>lvl0-2 Definitions defined?</label>
        <locationX>166</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Are_lvl0_1_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>lvl0_2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseReference.GFS_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseReference.GFS_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseReference.GFS_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meta_Object_Definitions_lvl2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_lvl0_1_populated</name>
        <label>Are lvl0-1 populated</label>
        <locationX>176</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>lvl0_1Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseReference.GFS_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseReference.GFS_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meta_Object_Definitions_lvl1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Owner_to_Queue</name>
        <label>Change Owner to Queue?</label>
        <locationX>869</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Set_Status_and_SLAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Change_Owner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseReference.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QueueRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Record_Type</name>
        <label>Change Record Type?</label>
        <locationX>711</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Change_Owner_to_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Change_RecordType_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseReference.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_lvl2</name>
        <label>Found lvl2?</label>
        <locationX>284</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Get_Meta_Object_Definitions_lvl1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_lvl2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GFSCaseMetaObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>GFS Case Routing &amp; Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GFS Case Routing &amp; Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meta_Object_Definitions_lvl1</name>
        <label>Get Meta-Object Definitions</label>
        <locationX>470</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GFS_Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseReference.GFS_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GFS_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseReference.GFS_Team__c</elementReference>
            </value>
        </filters>
        <object>GFS_Case_Type__c</object>
        <outputReference>GFSCaseMetaObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Dev_Name__c</queriedFields>
        <queriedFields>Queue_Dev_Name__c</queriedFields>
        <queriedFields>Initial_Response_SLA__c</queriedFields>
        <queriedFields>In_Approval_Chain_SLA__c</queriedFields>
        <queriedFields>Closed_SLA__c</queriedFields>
        <queriedFields>Reset_To_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Meta_Object_Definitions_lvl2</name>
        <label>Get Meta-Object Definitions</label>
        <locationX>316</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_lvl2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GFS_Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseReference.GFS_Sub_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GFS_Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseReference.GFS_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GFS_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseReference.GFS_Team__c</elementReference>
            </value>
        </filters>
        <object>GFS_Case_Type__c</object>
        <outputReference>GFSCaseMetaObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Dev_Name__c</queriedFields>
        <queriedFields>Queue_Dev_Name__c</queriedFields>
        <queriedFields>Reset_To_Status__c</queriedFields>
        <queriedFields>Closed_SLA__c</queriedFields>
        <queriedFields>In_Approval_Chain_SLA__c</queriedFields>
        <queriedFields>Initial_Response_SLA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>597</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GFSCaseMetaObject.Queue_Dev_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>QueueRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>470</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GFSCaseMetaObject.Record_Type_Dev_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Case</name>
        <label>Update the Case</label>
        <locationX>1107</locationX>
        <locationY>441</locationY>
        <inputReference>CaseReference</inputReference>
    </recordUpdates>
    <startElementReference>Are_all_three_Case_Definitions_defined</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Reference to the Case that needs to be evaluated</description>
        <name>CaseReference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GFSCaseMetaObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GFS_Case_Type__c</objectType>
    </variables>
    <variables>
        <name>QueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
