flows/GFS_New_Case_Response.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The GFS_New_Case_Response-11 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke GFS_New_Case_Response-11, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>darren.clowes@nttdata.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The GFS_New_Case_Response-11 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke GFS_New_Case_Response-11, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>darren.clowes@nttdata.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_Master_Data</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Send Email</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_Master_Data</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_NAF</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Send Email</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_NAF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision16</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_OtC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Send Email</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_OtC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_OTISS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Send Email</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_OTISS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision20</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_MD_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send MD Customer Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_MD_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_Payables</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Send Email</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_Payables</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision22</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_Taxi</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Send Email</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_Taxi</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision24</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Case_Created_Email_MD_Finance</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Send MD Finance Email</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Case_Created_Email_MD_Finance</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Data - Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is Master Data Customer</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Master Data</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAFs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>NAFs</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order to Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Order to Cash</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTISS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>OTISS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payables</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Payables</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAXI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>TAXI</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Create History Log</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.GFS_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Data - Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Is Master Data Finance</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Process to manage the auto-response email for new cases. Note in PB due to lack of contact record.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank You for Contacting the GFS Support Team [{Case.Thread_Id}]&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_7_A2_4441162835</name>
        <dataType>String</dataType>
        <expression>&quot;Thank You for Contacting the GFS Support Team [{Case.Thread_Id}]&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.\n\nIf you need to request a change to any of the below Master Data then please also request via the link below quoting your case reference number.\n\nGL Account - http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL\nCost Centre - http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;\nMaterial Master for Misc Billing - http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL\nAsset Location - http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC\nProject Coding Masks - http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n3. A member of the team will contact you directly if they require more information\n4. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; [Case].GFS_Site_Submission_URL__c &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_7_A2_8783162608</name>
        <dataType>String</dataType>
        <expression>&quot;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.\n\nIf you need to request a change to any of the below Master Data then please also request via the link below quoting your case reference number.\n\nGL Account - http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL\nCost Centre - http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;\nMaterial Master for Misc Billing - http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL\nAsset Location - http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC\nProject Coding Masks - http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n3. A member of the team will contact you directly if they require more information\n4. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; {!SObject.GFS_Site_Submission_URL__c} &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Case].GFS_Collaborator_1__c )),[Case].GFS_Collaborator_1__c,&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_1__c )),
       NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_2__c )),[Case].GFS_Collaborator_2__c,&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_3__c )),
       OR(
          NOT(ISBLANK([Case].GFS_Collaborator_1__c )), 
          NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_3__c )),[Case].GFS_Collaborator_3__c,&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_25_A1_7823187202</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),{!SObject.GFS_Collaborator_1__c},&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),
       NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} )),{!SObject.GFS_Collaborator_2__c},&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),
       OR(
          NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )), 
          NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),{!SObject.GFS_Collaborator_3__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; [Case].GFS_Reply_Email__c &amp; &quot;?Subject=Case%20&quot; &amp; [Case].CaseNumber &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; [Case].GFS_Reply_Email__c  &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; [Case].GFS_Site_Submission_URL__c  &amp; &quot;&apos;&gt;&quot; &amp; [Case].GFS_Site_Submission_URL__c &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&lt;/p&gt;&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_25_A1_9741960187</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; {!SObject.GFS_Reply_Email__c} &amp; &quot;?Subject=Case%20&quot; &amp; {!SObject.CaseNumber} &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; {!SObject.GFS_Reply_Email__c}  &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}  &amp; &quot;&apos;&gt;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c} &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&lt;/p&gt;&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank You for Contacting the GFS Support Team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_25_A1_8609729022</name>
        <dataType>String</dataType>
        <expression>&quot;Thank You for Contacting the GFS Support Team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; [Case].GFS_Reply_Email__c  &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; [Case].GFS_Site_Submission_URL__c  &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_25_A1_9076135556</name>
        <dataType>String</dataType>
        <expression>&quot;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; {!SObject.GFS_Reply_Email__c}  &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; {!SObject.GFS_Site_Submission_URL__c}  &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Case].GFS_Collaborator_1__c )),[Case].GFS_Collaborator_1__c,&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_1__c )),
       NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_2__c )),[Case].GFS_Collaborator_2__c,&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_3__c )),
       OR(
          NOT(ISBLANK([Case].GFS_Collaborator_1__c )), 
          NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_3__c )),[Case].GFS_Collaborator_3__c,&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_7414697033</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),{!SObject.GFS_Collaborator_1__c},&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),
       NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} )),{!SObject.GFS_Collaborator_2__c},&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),
       OR(
          NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )), 
          NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),{!SObject.GFS_Collaborator_3__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p&gt;If you need a new MISC or MISC UVS customer then please raise a request via the link below quoting your Case Reference Number.&lt;/p&gt;&lt;p&gt;&lt;a href=&apos;https://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST&apos;&gt;https://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST&lt;/a&gt;&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot;?Subject=Case%20&quot; &amp; [Case].CaseNumber &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; [Case].GFS_Reply_Email__c  &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; [Case].GFS_Site_Submission_URL__c   &amp; &quot;&apos;&gt;&quot; &amp;  [Case].GFS_Site_Submission_URL__c  &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&lt;/p&gt;&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_4553780655</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p&gt;If you need a new MISC or MISC UVS customer then please raise a request via the link below quoting your Case Reference Number.&lt;/p&gt;&lt;p&gt;&lt;a href=&apos;https://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST&apos;&gt;https://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST&lt;/a&gt;&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot;?Subject=Case%20&quot; &amp; {!SObject.CaseNumber} &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; {!SObject.GFS_Reply_Email__c}  &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}   &amp; &quot;&apos;&gt;&quot; &amp;  {!SObject.GFS_Site_Submission_URL__c}  &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&lt;/p&gt;&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank You for Contacting the GFS Support Team [{Case.Thread_Id}]&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A2_2864585137</name>
        <dataType>String</dataType>
        <expression>&quot;Thank You for Contacting the GFS Support Team [{Case.Thread_Id}]&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.\n\nIf you need a new MISC or MISC UVS customer then please raise a request via the link below quoting your Case Reference Number.\n\nhttps://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; [Case].GFS_Reply_Email__c  &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp;  [Case].GFS_Site_Submission_URL__c &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A2_3792305919</name>
        <dataType>String</dataType>
        <expression>&quot;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.\n\nIf you need a new MISC or MISC UVS customer then please raise a request via the link below quoting your Case Reference Number.\n\nhttps://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPCUST\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; {!SObject.GFS_Reply_Email__c}  &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp;  {!SObject.GFS_Site_Submission_URL__c} &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Case].GFS_Collaborator_1__c )),[Case].GFS_Collaborator_1__c,&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_1__c )),
       NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_2__c )),[Case].GFS_Collaborator_2__c,&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_3__c )),
       OR(
          NOT(ISBLANK([Case].GFS_Collaborator_1__c )), 
          NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_3__c )),[Case].GFS_Collaborator_3__c,&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A2_0900634849</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),{!SObject.GFS_Collaborator_1__c},&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),
       NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} )),{!SObject.GFS_Collaborator_2__c},&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),
       OR(
          NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )), 
          NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),{!SObject.GFS_Collaborator_3__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p&gt;If you need to request a change to any of the below Master Data then please also request via the link below quoting your case reference number.&lt;/p&gt;&lt;p&gt;&lt;span style=&apos;font-weight:700&apos;&gt;GL Account&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Cost Centre&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;&apos;&gt;http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Material Master for Misc Billing&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Asset Location&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Project Coding Masks&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS&lt;/a&gt;&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot;?Subject=Case%20&quot; &amp; [Case].CaseNumber &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; [Case].GFS_Reply_Email__c    &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; [Case].GFS_Site_Submission_URL__c   &amp; &quot;&apos;&gt;&quot; &amp; [Case].GFS_Site_Submission_URL__c  &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&lt;/p&gt;&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A2_3116823205</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and assigned to Case Reference Number  &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p&gt;If you need to request a change to any of the below Master Data then please also request via the link below quoting your case reference number.&lt;/p&gt;&lt;p&gt;&lt;span style=&apos;font-weight:700&apos;&gt;GL Account&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPFIGL&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Cost Centre&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;&apos;&gt;http://www.etracker.jlr.ford.com/apps/Reports/iss_report_page.asp?NewProjectID=SAPCC&amp;&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Material Master for Misc Billing&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=MISCBILL&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Asset Location&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=ASSETLOC&lt;/a&gt;&lt;br /&gt;&lt;span style=&apos;font-weight:700&apos;&gt;Project Coding Masks&lt;/span&gt; - &lt;a href=&apos;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS&apos;&gt;http://www.etracker.jlr.ford.com/default.asp?ProjectID=SAPMASKS&lt;/a&gt;&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot;?Subject=Case%20&quot; &amp; {!SObject.CaseNumber} &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; {!SObject.GFS_Reply_Email__c}    &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}   &amp; &quot;&apos;&gt;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}  &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&lt;/p&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>GFS_New_Case_Response-11_InterviewLabel</interviewLabel>
    <label>GFS New Case Response</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Create Email Record</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CC Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CcAddress</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_7414697033</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <elementReference>SObject.GFS_Reply_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_4553780655</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_4_myRule_1_A2_2864585137</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <elementReference>formula_5_myRule_1_A2_3792305919</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>SObject.GFS_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_25_A1</name>
        <label>Create Email History Log</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CC Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CcAddress</field>
            <value>
                <elementReference>formula_26_myRule_25_A1_7823187202</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <elementReference>SObject.GFS_Reply_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_27_myRule_25_A1_9741960187</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_28_myRule_25_A1_8609729022</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <elementReference>formula_29_myRule_25_A1_9076135556</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>SObject.GFS_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A2</name>
        <label>Create Email Record</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CC Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CcAddress</field>
            <value>
                <elementReference>formula_8_myRule_7_A2_0900634849</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <elementReference>SObject.GFS_Reply_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_9_myRule_7_A2_3116823205</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_10_myRule_7_A2_4441162835</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <elementReference>formula_11_myRule_7_A2_8783162608</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>SObject.GFS_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>GFS_Collaborator_3__c</queriedFields>
        <queriedFields>GFS_Contact_Email__c</queriedFields>
        <queriedFields>GFS_Collaborator_2__c</queriedFields>
        <queriedFields>GFS_Reply_Email__c</queriedFields>
        <queriedFields>GFS_Site_Submission_URL__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>GFS_Team__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>GFS_Collaborator_1__c</queriedFields>
        <queriedFields>GFS_Type__c</queriedFields>
    </recordLookups>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
