flows/GFS_Auto_Respond_to_Emails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The GFS_Auto_Respond_to_Emails-2 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke GFS_Auto_Respond_to_Emails-2, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@jlr-apps.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The GFS_Auto_Respond_to_Emails-2 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke GFS_Auto_Respond_to_Emails-2, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@jlr-apps.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_Payables</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Send Thank You</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_Payables</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_TAXI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Send Thank You</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_TAXI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Untracked_Email_Response</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Try Again</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Untracked_Email_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>GFS Delete Case</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Delete Case</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>GFS_Delete_Case</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseReference</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseReference</name>
            <value>
                <elementReference>SObject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_Master_Data</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Thank You</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_Master_Data</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_NAF</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send Thank You</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_NAF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_OtC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Send Thank You</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_OtC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>GFS_Thank_you_for_Tracked_Email_OTISS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Send Thank You</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.GFS_Thank_you_for_Tracked_Email_OTISS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GFS Generic (Untracked)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>GFS Payables</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>GFS TAXI</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Log the Email History</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>GFS Master Data</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>GFS NAFs</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>GFS Order to Cash</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>GFS OTISS</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Case].GFS_Collaborator_1__c )),[Case].GFS_Collaborator_1__c,&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_1__c )),
       NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_2__c )),[Case].GFS_Collaborator_2__c,&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK([Case].GFS_Collaborator_3__c )),
       OR(
          NOT(ISBLANK([Case].GFS_Collaborator_1__c )), 
          NOT(ISBLANK([Case].GFS_Collaborator_2__c ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK([Case].GFS_Collaborator_3__c )),[Case].GFS_Collaborator_3__c,&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_6775623984</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),{!SObject.GFS_Collaborator_1__c},&quot;&quot;)
+ IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )),
       NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} )),{!SObject.GFS_Collaborator_2__c},&quot;&quot;)
+IF(
     AND(
       NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),
       OR(
          NOT(ISBLANK({!SObject.GFS_Collaborator_1__c} )), 
          NOT(ISBLANK({!SObject.GFS_Collaborator_2__c} ))
       )
      ),
     &quot;,&quot;,&quot;&quot;
   )
+ IF(NOT(ISBLANK({!SObject.GFS_Collaborator_3__c} )),{!SObject.GFS_Collaborator_3__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and added to Case Number  &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot;?Subject=Case%20&quot; &amp; [Case].CaseNumber &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; [Case].GFS_Site_Submission_URL__c   &amp; &quot;&apos;&gt;&quot; &amp; [Case].GFS_Site_Submission_URL__c   &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&lt;/p&gt;&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_15_A1_3202906904</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p&gt;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and added to Case Number  &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.&lt;/p&gt;&lt;p style=&apos;font-weight:700&apos;&gt;Please note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;You should receive a follow-up automated e-mail when a case status changes&lt;/li&gt;&lt;li&gt;A member of the team will contact you directly if they require more information&lt;/li&gt;&lt;li&gt;If you wish to contact the team regarding your case number please e-mail: &lt;a href=&apos;mailto:&quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot;?Subject=Case%20&quot; &amp; {!SObject.CaseNumber} &amp; &quot;%20Follow%20up%20[{Case.Thread_Id}]&apos; target=&apos;_top&apos;&gt;&quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot;&lt;/a&gt; quoting the reference mentioned above so it can be linked to your existing case.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All new requests must be directed through &lt;a href=&apos;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}   &amp; &quot;&apos;&gt;&quot; &amp; {!SObject.GFS_Site_Submission_URL__c}   &amp; &quot;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience and thank you for your support.&lt;/p&gt;&lt;p style=&apos;font-weight:800&apos;&gt;&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&lt;/p&gt;&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank You for Contacting the GFS Support Team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_15_A1_7541327370</name>
        <dataType>String</dataType>
        <expression>&quot;Thank You for Contacting the GFS Support Team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Thank you for contacting the &quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team. Your request has been logged and added to Case Number &quot; &amp; [Case].CaseNumber &amp; &quot;. We will respond to your submission as soon as possible.\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; [Case].GFS_Reply_Email__c   &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; [Case].GFS_Site_Submission_URL__c  &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT([Case].GFS_Team__c) &amp; &quot; team&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_15_A1_9275608740</name>
        <dataType>String</dataType>
        <expression>&quot;Thank you for contacting the &quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team. Your request has been logged and added to Case Number &quot; &amp; {!SObject.CaseNumber} &amp; &quot;. We will respond to your submission as soon as possible.\n\nPlease note: We now manage all requests through our Case Submission Portal. To help keep all emails attached to your Case, please include your case tracking reference ({Case.Thread_Id}) in the title of all emails sent to the GFS Team.\n\n1. You should receive a follow-up automated e-mail when a case status changes\n2. A member of the team will contact you directly if they require more information\n3. If you wish to contact the team regarding your case number please e-mail: &quot; &amp; {!SObject.GFS_Reply_Email__c}   &amp; &quot; quoting the reference mentioned above so it can be linked to your existing case.\n\nAll new requests must be directed through &quot;&amp; {!SObject.GFS_Site_Submission_URL__c}  &amp;&quot;\n\nWe appreciate your patience and thank you for your support.\n\n&quot; &amp; TEXT({!SObject.GFS_Team__c}) &amp; &quot; team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;GFS_Generic&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!SObject.RecordType.DeveloperName} = &quot;GFS_Generic&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;Payables&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;Payables&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;TAXI&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;TAXI&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;Master Data&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;Master Data&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;NAFs&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;NAFs&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;Order to Cash&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;Order to Cash&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
     [Case].RecordType.DeveloperName = &quot;GFS_ITESoft&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Master_Data&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_NAF&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Order_to_Cash&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Query&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_OTISS_Template&quot;,
     [Case].RecordType.DeveloperName = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL([Case].GFS_Team__c , &quot;OTISS&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
     {!SObject.RecordType.DeveloperName} = &quot;GFS_ITESoft&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Master_Data&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_NAF&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Order_to_Cash&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Query&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_OTISS_Template&quot;,
     {!SObject.RecordType.DeveloperName} = &quot;GFS_Payables&quot;
  ),
  ISPICKVAL({!SObject.GFS_Team__c} , &quot;OTISS&quot;)
)</expression>
    </formulas>
    <interviewLabel>GFS_Auto_Respond_to_Emails-2_InterviewLabel</interviewLabel>
    <label>GFS Auto Respond to Emails</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordCreates>
        <name>myRule_15_A1</name>
        <label>Log Email Send History</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CC Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CcAddress</field>
            <value>
                <elementReference>formula_16_myRule_15_A1_6775623984</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <elementReference>SObject.GFS_Reply_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_17_myRule_15_A1_3202906904</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_18_myRule_15_A1_7541327370</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <elementReference>formula_19_myRule_15_A1_9275608740</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>SObject.GFS_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>GFS_Collaborator_3__c</queriedFields>
        <queriedFields>GFS_Contact_Email__c</queriedFields>
        <queriedFields>GFS_Collaborator_2__c</queriedFields>
        <queriedFields>GFS_Reply_Email__c</queriedFields>
        <queriedFields>GFS_Site_Submission_URL__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>GFS_Team__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>GFS_Collaborator_1__c</queriedFields>
    </recordLookups>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
