flows/OUV_Sync_Model_Descriptions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Update_List</name>
        <label>Add To Update List</label>
        <locationX>704</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>lstUpdateAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vista</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateModelDetails</name>
        <label>UpdateModelDetails</label>
        <locationX>704</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>vista.OUV_Vehicle_Model_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inLineCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vista.OUV_Vehicle_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inLineDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vista.OUV_JLRBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inBrand</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>OUV Sync Model Descriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OUV Sync Model Descriptions</label>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>334</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>vista</assignNextValueToReference>
        <collectionReference>lstAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateModelDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Matching_Assets</name>
        <label>Fetch Matching Assets</label>
        <locationX>164</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OUV_Model_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inModelCode</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>lstAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>335</locationX>
        <locationY>280</locationY>
        <inputReference>lstUpdateAssets</inputReference>
    </recordUpdates>
    <startElementReference>Fetch_Matching_Assets</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>inBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inLineCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inLineDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inModelCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>lstUpdateAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vista</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
