flows/Perform_Handover_to_Re_marketing_Actions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Hand_Details</name>
        <label>Set Hand Details</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OUV_Fleet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ouvReMarketFleet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OUV_ReportingLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OUV_ReportingLevel2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cars awaiting sale / rework / disposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OUV_ReportingLevel3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Local</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ouvReMarketFleet.Fleet_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOUVVehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.OUV_ActualHandInDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updOUVVehicle.Latest_Fleet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inptCurrentFleetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOUVVehicle</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Perform Handover to Re-marketing Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Handover to Re-marketing Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Market_Re_marketing_Fleet</name>
        <label>Get Market Re-marketing Fleet</label>
        <locationX>174</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Hand_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Default_Remarketing_Fleet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OUV_Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inptMarketLocation</elementReference>
            </value>
        </filters>
        <object>OUV_Fleet__c</object>
        <outputReference>ouvReMarketFleet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fleet_Manager__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOUVVehicle</name>
        <label>updateOUVVehicle</label>
        <locationX>488</locationX>
        <locationY>49</locationY>
        <inputReference>updOUVVehicle</inputReference>
    </recordUpdates>
    <startElementReference>Get_Market_Re_marketing_Fleet</startElementReference>
    <status>Active</status>
    <variables>
        <name>inptCurrentFleetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Market Location to find re-marketing fleet</description>
        <name>inptMarketLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inptReMarketManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOUVVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ouvReMarketFleet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OUV_Fleet__c</objectType>
    </variables>
    <variables>
        <name>updOUVVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OUV_Vehicle__c</objectType>
    </variables>
</Flow>
