flows/SO_order_and_work_order_field_updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>when a classic bespoke record  field update happened....In immediate action , the updated fields need to update in Order and Work order.</description>
    <interviewLabel>SO_order and work order field updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SO_order and work order field updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>In classic bespoke  opportunity record type ,  when fields are  updated  , fields need to be updated in order and work order.</description>
        <name>order_and_work_order</name>
        <label>order and work order</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>work_order_fields_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SO_Bespoke_Exterior_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Exterior_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Bespoke_Interior_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Interior_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Bespoke_Paint_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Paint_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>work_order_fields_update</name>
        <label>work order fields update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SO_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SO_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SO_Bespoke_Exterior_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Exterior_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Bespoke_Interior_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Interior_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Bespoke_Paint_Requirements__c</field>
            <value>
                <elementReference>$Record.SO_Bespoke_Paint_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <object>SO_Work_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>order_and_work_order</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>SO_Bespoke_Exterior_Requirements__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SO_Bespoke_Paint_Requirements__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SO_Bespoke_Interior_Requirements__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120N000000RU2fQAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
