flows/SO_Work_Order_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_MOT_Completed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>MOT Completed</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_MOT_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_Build_Stage_Completed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Final Build Stage Completed</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_Build_Stage_Completed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_Received_New</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Received New Work Order</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_Received_New</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_Build_Start_Date</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Build Start Dates Changed</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_Build_Start_Date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_Build_Stage_Dates</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Build Stage Forecast Dates changed</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_Build_Stage_Dates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>SO_Work_Order_Build_Stage_Completed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Build Stage completed</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>SO_Work_Order__c.SO_Work_Order_Build_Stage_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SO_Workshop_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Reference</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SO_Workshop_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update the Work Order Owner</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>MOT Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Final Build Stage Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is New Classic?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Is changed Build Start Date/Comments</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Is Changed Forecast Dates</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Build Stage Completed</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
[SO_Work_Order__c].SO_MOT_Complete__c == TRUE &amp;&amp; ISCHANGED([SO_Work_Order__c].SO_MOT_Complete__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
{!myVariable_current.SO_MOT_Complete__c} == TRUE &amp;&amp; ISCHANGED({!myVariable_current.SO_MOT_Complete__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
[SO_Work_Order__c].SO_Stage_5_Complete__c == TRUE &amp;&amp; ISCHANGED([SO_Work_Order__c].SO_Stage_5_Complete__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
{!myVariable_current.SO_Stage_5_Complete__c} == TRUE &amp;&amp; ISCHANGED({!myVariable_current.SO_Stage_5_Complete__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;) &amp;&amp; (ISCHANGED([SO_Work_Order__c].SO_Start_Forecast__c) || ISCHANGED([SO_Work_Order__c].SO_Comments__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;) &amp;&amp; (ISCHANGED({!myVariable_current.SO_Start_Forecast__c}) || ISCHANGED({!myVariable_current.SO_Comments__c}) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
((ISCHANGED([SO_Work_Order__c].SO_Stage_1_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_1_Complete__c == FALSE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_2_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_2_Complete__c == FALSE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_3_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_3_Complete__c == FALSE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_4_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_4_Complete__c == FALSE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_5_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_5_Complete__c == FALSE ) || 
(ISCHANGED([SO_Work_Order__c].SO_ABS_Forecast__c) &amp;&amp; [SO_Work_Order__c].SO_ABS_Complete__c == FALSE ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
((ISCHANGED({!myVariable_current.SO_Stage_1_Forecast__c}) &amp;&amp; {!myVariable_current.SO_Stage_1_Complete__c} == FALSE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_2_Forecast__c}) &amp;&amp; {!myVariable_current.SO_Stage_2_Complete__c} == FALSE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_3_Forecast__c}) &amp;&amp; {!myVariable_current.SO_Stage_3_Complete__c} == FALSE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_4_Forecast__c}) &amp;&amp; {!myVariable_current.SO_Stage_4_Complete__c} == FALSE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_5_Forecast__c}) &amp;&amp; {!myVariable_current.SO_Stage_5_Complete__c} == FALSE ) || 
(ISCHANGED({!myVariable_current.SO_ABS_Forecast__c}) &amp;&amp; {!myVariable_current.SO_ABS_Complete__c} == FALSE ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp; ([SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Donor_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_New_Build&apos; || [SO_Work_Order__c].RecordType.DeveloperName = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
((ISCHANGED([SO_Work_Order__c].SO_Stage_1_Complete__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_1_Complete__c == TRUE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_2_Complete__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_2_Complete__c == TRUE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_3_Complete__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_3_Complete__c == TRUE ) || 
(ISCHANGED([SO_Work_Order__c].SO_Stage_4_Complete__c) &amp;&amp; [SO_Work_Order__c].SO_Stage_4_Complete__c == TRUE ) || 
(ISCHANGED([SO_Work_Order__c].SO_ABS_Complete__c) &amp;&amp; [SO_Work_Order__c].SO_ABS_Complete__c == TRUE ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ({!myVariable_current.RecordType.DeveloperName} = &apos;SO_Donor_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_New_Build&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;SO_Bespoke_Build&apos;) &amp;&amp; 
((ISCHANGED({!myVariable_current.SO_Stage_1_Complete__c}) &amp;&amp; {!myVariable_current.SO_Stage_1_Complete__c} == TRUE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_2_Complete__c}) &amp;&amp; {!myVariable_current.SO_Stage_2_Complete__c} == TRUE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_3_Complete__c}) &amp;&amp; {!myVariable_current.SO_Stage_3_Complete__c} == TRUE ) || 
(ISCHANGED({!myVariable_current.SO_Stage_4_Complete__c}) &amp;&amp; {!myVariable_current.SO_Stage_4_Complete__c} == TRUE ) || 
(ISCHANGED({!myVariable_current.SO_ABS_Complete__c}) &amp;&amp; {!myVariable_current.SO_ABS_Complete__c} == TRUE ))</expression>
    </formulas>
    <interviewLabel>SO_Work_Order_Process-6_InterviewLabel</interviewLabel>
    <label>SO Work Order Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SO_Work_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SO_Work_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.SO_Workshop_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Workshop Owner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>SO_Workshop_Owner__c</field>
        </inputAssignments>
        <object>SO_Work_Order__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SO_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SO_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
