flows/Update_Invoices_From_opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check in whether it is triggered from opportunity or order</description>
        <name>opportunity_or_order</name>
        <label>opportunity or order</label>
        <locationX>626</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SO_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunity_data</targetReference>
            </connector>
            <label>opportunity</label>
        </rules>
        <rules>
            <name>order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SO_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_order_data</targetReference>
            </connector>
            <label>order</label>
        </rules>
    </decisions>
    <interviewLabel>Update Invoices From opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoices From opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_opportunity_data</name>
        <label>Get opportunity data</label>
        <locationX>419</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SO_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_order_data</name>
        <label>Get order data</label>
        <locationX>719</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_invoice_from_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SO_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_invoice</name>
        <label>Update invoice</label>
        <locationX>418</locationX>
        <locationY>428</locationY>
        <inputAssignments>
            <field>SO_AccountId__c</field>
            <value>
                <elementReference>Get_opportunity_data.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Order__c</field>
            <value>
                <elementReference>Get_opportunity_data.SO_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_SAP_Account__c</field>
            <value>
                <elementReference>Get_opportunity_data.SO_SAP_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_invoice_from_order</name>
        <label>Update invoice from order</label>
        <locationX>722</locationX>
        <locationY>417</locationY>
        <inputAssignments>
            <field>SO_AccountId__c</field>
            <value>
                <elementReference>Get_order_data.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_Opportunity__c</field>
            <value>
                <elementReference>Get_order_data.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_SAP_Account__c</field>
            <value>
                <elementReference>Get_order_data.Opportunity.SO_SAP_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>opportunity_or_order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SO_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SO_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SO_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
